a:hover {
  text-decoration: none
}
search-body {
	width: 100%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}
.error-text {
  font-style: italic;
  color: red;
}
.icons {
	margin-left: 7%;
}

#review-date {
  font-style: italic;
  font-weight: lighter;
}

.recipe-image {
  display:block;
  height: 300px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(127, 127, 131);
}
img.img-thumbnail {
  width: 100%;
  height: 100%;
}

#add-recipe-form {
  margin-top: 50px;
}

#nav2 {
	width: 100%;
}

#signup-title {
	font-family: 'Berkshire Swash', cursive;
	color: brown;
	margin-top: 20px;
}
.more-recipes {
  color: brown;
}
#recipe-images {
  width: 400px;
  height: 250px;
}
#recipe-title {
  margin-top: 10px;
}

.recipe-title {
  font-family: 'Berkshire Swash', cursive;
}
.recipe-owner {
	margin-top: 10px;
	font-weight: 100;
}
.recipe-description {
	text-align: center;
	margin: auto;
}
span.icons {
	padding-right: 10px;
}

img.card-img{
  height: 300px;
  width: 350px;
}
.signup-text {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
	text-align: center;
	font-size: smaller;
}

#login-title {
	font-family: 'Berkshire Swash', cursive;
	color: brown;
}
.login-head {
	width: 70%;
	margin-left: 20px;
}

.login-close {
	width: 23%
}

#search-intro {
	font-family: 'Berkshire Swash', cursive;
	margin-right: 10px;
	color: brown;
}
span.nav-link a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.col-sm-6 a {
	text-decoration: none;
	cursor: pointer;
}

#search-box {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
	width: 30%;
}

.fa-search {
	color: white;
}

span.routes a {
	color: black;
}

#title {
	font-family: 'Berkshire Swash', cursive;
	font-size: xx-large;
	color: brown;
}
.login-form,
.signup-form {
	width: 20%;
}

.register-button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

.register-text {
	text-align: center;
	margin-left: 40%;
}

a {
	color: black;
}
.carousels {
	width: 100%;
	height: 20%;
}

.carousels img{
	height: 100%;
	width: 100%;
}
.recipes {
	margin-top: 3%;
}

div.carousel-inner {
}
.alert {
	text-align: center;
}
@media (min-width: 320px) and (max-width: 800px) {
	.login-head {
		width: 70%;
		margin-left: 20px;
	}

	.login-close {
		width: 23%
	}
}

#profile-box {
  margin-top: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

// #profile-body {
//   margin-bottom: 40%;
// }

#profile-navigation-links {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

// #navigation-part {
//   margin-left: 20px;
//   margin-right: 20px;
// }

#changing-part {
  border-style: solid;
  border-color: grey;
  border-left-width: 1px;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
 #changing-component {
   margin-top: 20px;
   margin-left: 20px;
 }

 #update-profile-form {
  //  background-color: #f2f2f2;
   width: 60%;
   margin-top: 40px;
   border-style: solid;
   border-color: grey;
   border-radius: 5px;
   border-width: 1px;
 }
 #update-profile-body {
   width: 60%;
   margin-top: 20px;
   margin-left: 150px;
   margin-bottom: 20px;
 }
 @media (min-width: 320px) and (max-width: 640px) {
  #update-profile-form {
     margin-top: 40px;
     border-style: solid;
     border-color: grey;
     border-radius: 5px;
     border-width: 1px;
     width: 100%;
   }
   #update-profile-body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;
  }
  #recipe-images {
    width: 500px;
    height: 250px;
  }
 }
 .profile-image {
  min-width: 150px;
 }

 #user-image-container {
   width: 50%;
 }
img#update-profile-picture {
  width: 50%;
  height: 50%
}

img#reviewer-image {
  width: 100%;
  height: 30%;
}
#review-body {
  text-align: left;
}

.add-review-form {
  margin-left: 40px;
}

#add-review-button {
  display: block;
  margin-left: auto
}
a :hover {
  color: none;
}

button a {
  color: red;
}

button a :hover {
  color: white;
}

a, button {
  cursor: pointer;
}

.emptyContent {
  font-family: 'Berkshire Swash', cursive;
	// margin-left: 33%;
	color: brown;
	margin-top: 20px;
}

#recover-password {
  display: none;
}
#proceed-to-login,
#forgot-password {
  font-weight: 100;
  font-size: small;
  color: blue;
}
#recover-password-button {
  width: 100%;
}
.reset-password {
  width: 50%;
}

#add-recipe-image {
  width: 100%;
  height: 100%;
}

#spinner {
  align-content: center;
}

#search-body-result {
  margin-top: 13%;
}

#search-header,
#search-results,
#no-match-found {
  font-family: 'Berkshire Swash', cursive;
  color: brown;
}
#nav-toggler {
  background-color: brown;
}

.register-signup {
  position: relative;
}

.close-signup {
  position: absolute;
  right: 25px;
}
#navbar-button {
  position: relative;
}
#nav-toggler {
  position: absolute;
  right: 0;
}
.review-body {
  height: 400px;
  overflow: scroll;
}

.loading-icon-container {
  background-color: white;
  margin-top: 20%;
}

nav.footer {
  background-color: #f8f9fa;
  padding: 5px;
}
.footer-title {
  color: brown;
  font-family: 'Berkshire Swash', cursive;
}