/* .main-body {
	background-color: #F5F5F5;
} */
.search-body {
	margin-left: 15%;
	margin-top: 30px;
	margin-bottom: 10px;
}

.icons {
	margin-left: 7%;
}

#signup-title {
	font-family: 'Berkshire Swash', cursive;
	margin-left: 35%;
	color: brown;
}

#search-intro {
	font-family: 'Berkshire Swash', cursive;
	margin-right: 10px;
	color: brown;
}
.col-sm-6 a {
	text-decoration: none;
	cursor: pointer;
}

#search-box {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
}

.fa-search {
	color: white;
}

#title {
	font-family: 'Berkshire Swash', cursive;
	font-size: xx-large;
	color: brown;
}
.form-control {
	width: 20%;
}

#register-button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

.register-text {
	text-align: center;
	margin-left: 40%;
}