<!DOCTYPE html>
<html>

<head>
    <title>More Recipes - Sign up...</title>
    <meta charset="UTF-8" lang="en-us">
    <meta name="author" content="Fred Adewole">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css"> -->
    <script src="./javascript/jquery-3.2.1.min.js"></script>
    <script src="./javascript/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6f567d7f5f.js"></script>
</head>

<body id="index">
    <div class="container container-fluid">
        <div class="title">
        </div>
        <div class="main-form container">
            <div class="form">
                <div id="signupform">
                    <div class="text">
                        <h3 class="register"> <span class="more">More Recipes</span>... Learn More, Cook More</h3>
                        <h4 class="register"> Create an account to explore! </h4>
                    </div>
                    <form method="POST" action="home.html">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="firstName" class="label">First Name:</label>
                                <input type="text" class="form-control input-sm" placeholder="John" id="firstName" name="firstname">
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="label">Last Name:</label>
                                <input type="text" class="form-control input-sm" placeholder="Doe" id="lastName" name="lastname">
                            </div>
                            <div class="form-group">
                                <label for="email" class="label">Email:</label>
                                <input type="email" class="form-control input-sm" placeholder="Johndoe@example.com" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Password:</label>
                                <input type="password" class="form-control input-sm" placeholder="Your password" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="cpassword" class="label">Confirm Password:</label>
                                <input type="password" class="form-control input-sm" placeholder="Confirm your password" id="cpassword" name="cpassword">
                            </div>
                            <button type="submit" class="btn btn-success"><span class="signup">Sign up </span><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                            <div>
                                <h5 class="login">Already have an account? <a href="#" id="loginlink">Log in here</a></h5>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="loginform">
                    <div class="text">
                        <h3 class="register"> <span class="more">Welcome Back!</span>... We've missed you</h3>
                        <p>
                            <h4 class="register">New awesome recipes are available!</h4>
                        </p>
                    </div>
                    <form method="POST" action="home.html">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="loginEmail" class="label">Email:</label>
                                <input type="text" class="form-control input-sm" placeholder="yourEmail@example.com" id="loginEmail" name="email">
                            </div>
                            <div class="form-group">
                                <label for="loginPassword" class="label">Password:</label>
                                <input type="password" class="form-control input-sm" placeholder="Your account password" id="loginPassword" name="password">
                            </div>
                            <button type="submit" class="btn btn-success"><span class="signup">Log in </span><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                            <div>
                                <h5 class="login">New to More Recipes? <a href="#" id="signuplink">Sign up here</a></h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="./javascript/index.js"></script>
</body>

</html>