<!DOCTYPE html>
<html>

<head>
    <title>More Recipes|Profile</title>
    <meta charset="UTF-8" lang="en-us">
    <meta name="author" content="Fred Adewole">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="./javascript/jquery-3.2.1.min.js"></script>
    <script src="./javascript/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6f567d7f5f.js"></script>
</head>

<body id="user-profile">
    <div class="container">
        <div class="top">
            <div class="navigation">
                <div class="dropdown btn-group open">
                    <button class="btn menu dropdown-toggle " type="button" data-toggle="dropdown"> Menu <i class="fa fa-bars" aria-hidden="true"></i></i>
                                                <span class="caret"></span></button>
                    <ul class="dropdown-menu menu">
                        <li><a href="home.html"> Home <span><i class="fa fa-home" aria-hidden="true"></i></span></a></li>
                        <li><a href="user.html"> Add Recipe <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                        <li><a href="index.html"> Logout <span><i class="fa fa-sign-out" aria-hidden="true"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-7 user-board">
                <div class="profile-board">
                    <div class="profileimage">
                        <img src="../templates/images/saved.jpg" alt="Profile's picture" id="profilepic">
                    </div>
                    <div class="user-name">
                        <h3 id="name-header">Mesisst Ozisst</h3>
                    </div>
                    <div class="user-summary">
                        <h6 class="summary">Inspired by Turkish parents and German friends. <br> Graduated from the Culinary Institute of America at age 20</h6>
                    </div>
                    <div class="user-status">
                        <div class="row user-row summary">
                            <div class="col">
                                Recipes <br /> 6
                            </div>
                            <div class="col">
                                Favourites <br /> 8
                            </div>
                            <div class="col">
                                Followers <br /> 12
                            </div>
                        </div>
                        <div class="about-user">
                            <span class="summary">ABOUT</span>
                            <a class="summary" href="#"><span><i class="fa fa-pencil edit-button" aria-hidden="true"></i></span></a><br /> Boy is a very good chef. would rather not cook, but loves to <br /> Has featured on the cover of the magazine, chef
                            weekly
                            <br> Mesisst Ozisst’s culinary career began early on, inspired by his Turkish parents and their love and respect for quality and tradition. <br> After graduating from the Culinary Institute of America at age 20, Ferraro sought
                            opportunities to further develop his own creativity.
                        </div>
                        <div class=" user-interests ">
                            <span class="summary">HOBBIES</span>
                            <a class="summary" href="#"><span><i class="fa fa-pencil edit-button" aria-hidden="true"></i></span></a>
                            <ul>
                                <li>Cycling</li>
                                <li>I Read a lot of adventure novels</li>
                                <li>Travelling</li>
                                <li>I play a lot of video games</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 user-favs ">
                <div class="profile-favs ">
                    <h4 class="header-fav">Your favourite recipes</h4>
                    <ul>
                        <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> <a href="recipe.html ">Mexican Meatball Subs</a></li>
                        <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> <a href="# ">Penne With Vodka Sauce</a></li>
                        <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> <a href="# ">Honey-Orange BBQ Chicken</a></li>
                        <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> <a href="# ">Charleston Cheese Dip</a></li>
                        <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> <a href="# ">Warm Artichoke and Bacon Dip</a></li>
                        <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> <a href="# ">Ragu-Stuffed Peppers</a></li>
                        <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> <a href="# ">Alton's Meatball Sandwiches</a></li>
                        <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> <a href="# ">PB&J Chocolate Bars</a></li>
                    </ul>
                    <div class="profile-recipes">
                        <h4 class="header-recipe">Recipes by you</h4>
                        <ul>
                            <li><a href="# ">Pumpkin Popcorn Soup</a></li>
                            <li><a href="# ">Curried Shrimp Biryani</a></li>
                            <li><a href="# ">Skillet Rosemary Chicken</a></li>
                            <li><a href="# ">Simple Bolognese</a></li>
                            <li><a href="# ">Slow-Cooker Meatloaf</a></li>
                            <li><a href="# ">Salisbury Steak</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>