<!DOCTYPE html>
<html>

<head>
    <title>More Recipes</title>
    <meta charset="UTF-8" lang="en-us">
    <meta name="author" content="Fred Adewole">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="./javascript/jquery-3.2.1.min.js"></script>
    <script src="./javascript/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6f567d7f5f.js"></script>
</head>

<body id="user">
    <div class="container">
        <div class="corner">
            <div class="top">
                <div class="navigation">
                    <div class="dropdown btn-group open">
                        <button class="btn menu dropdown-toggle " type="button" data-toggle="dropdown"> Menu <i class="fa fa-bars" aria-hidden="true"></i></i>
                                                            <span class="caret"></span></button>
                        <ul class="dropdown-menu menu">
                            <li><a href="home.html"> Home <span><i class="fa fa-home" aria-hidden="true"></i></span></a></li>
                            <li><a href="#"> Profile <span><i class="fa fa-user" aria-hidden="true"></i></span></a></li>
                            <li><a href="#"> Favourites <span><i class="fa fa-heart" aria-hidden="true"></i></span></a></li>
                            <li><a href="user.html"> Add Recipe <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                            <li><a href="index.html"> Logout <span><i class="fa fa-sign-out" aria-hidden="true"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-recipes">
            <div class="row view-recipes-recipe" id="recipe-main-body">
                <div class="col-7">
                    <div class="view-recipes-recipe-header">
                        <h2>Recipes by User</h2>
                    </div>
                    <ul>
                        <li><a href=""><span><i class="fa fa-pencil-square" aria-hidden="true"></i>  </span></a><a href="recipe.html ">Mexican Meatball Subs</a> <span><a href=""><i class="fa fa-trash delete" aria-hidden="true"></i></a></span> </li>
                        <li><a href=""><span><i class="fa fa-pencil-square" aria-hidden="true"></i>  </span></a><a href="#">Penne With Vodka Sauce</a> <span><a href=""><i class="fa fa-trash delete" aria-hidden="true"></i></a></span></li>
                        <li><a href=""><span><i class="fa fa-pencil-square" aria-hidden="true"></i>  </span></a><a href="#">Honey-Orange BBQ Chicken</a> <span><a href=""><i class="fa fa-trash delete" aria-hidden="true"></i></a></span> </li>
                        <li><a href=""><span><i class="fa fa-pencil-square" aria-hidden="true"></i>  </span></a><a href="#">Charleston Cheese Dip</a> <span><a href=""><i class="fa fa-trash delete" aria-hidden="true"></i></a></span> </li>
                        <li><a href=""><span><i class="fa fa-pencil-square" aria-hidden="true"></i>  </span></a><a href="#">Warm Artichoke and Bacon Dip</a> <span><a href=""><i class="fa fa-trash delete" aria-hidden="true"></i></a></span> </li>
                        <li><a href=""><span><i class="fa fa-pencil-square" aria-hidden="true"></i>  </span></a><a href="#">Ragu-Stuffed Peppers</a> <span><a href=""><i class="fa fa-trash delete" aria-hidden="true"></i></a></span> </li>
                        <li><a href=""><span><i class="fa fa-pencil-square" aria-hidden="true"></i>  </span></a><a href="#">Alton's Meatball Sandwiches</a> <span><a href=""><i class="fa fa-trash delete" aria-hidden="true"></i></a></span> </li>
                        <li><a href=""><span><i class="fa fa-pencil-square" aria-hidden="true"></i>  </span></a><a href="#">PB&J Chocolate Bars</a> <span><a href=""><i class="fa fa-trash delete" aria-hidden="true"></i></a></span> </li>
                    </ul>
                </div>
                <div class="col-1 add-button">
                    <button class="btn btn-success" id="add-button">New Recipe <span><i class="fa fa-plus" aria-hidden="true"></i></span></button>
                </div>
            </div>
            <div class="view-recipes-add" id="add-recipe-form">
                <form action="#" method="post">
                    <div class="add-new">
                        <div class="form-group">
                            <label for="recipeName" class="label">Recipe Name</label>
                            <input type="text" class="form-control input-sm" placeholder="Name of recipe" id="recipeName" name="recipeName">
                        </div>
                        <div class="form-group">
                            <label for="recipeIngredients" class="label">Recipe Ingredients</label>
                            <textarea rows="10" cols="15" class="form-control" id="recipeIngredients" name="ingredients"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="recipeDirections" class="label">Directions to cook</label>
                            <textarea rows="15" cols="" class="form-control" id="recipeDirections" name="directions"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <button type="" class="btn btn-success"><span class="signup">Add new recipe </span><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-warning cancel" id="cancel"><span>Cancel <i class="fa fa-ban" aria-hidden="true"></i></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="./javascript/index.js"></script>
</body>

</html>